.day {
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
}

.weather-icon {
  height: 30px;
}

.img-md {
  height: 70px;
}

.img-xl {
  height: 100px;
}

.img-sm {
  height: 30px;
  padding: 10px;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 2px;
}

.day,
.day-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.day-forecast {
  border-bottom: 2px solid rgba(255, 255, 255, 0.096);
  border-radius: 20px;
  padding-bottom: 10px;
}

.forecast {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  position: relative;
  gap: 20px;
}

.hourly-container {
  width: 100%;
}

.hourly-forecast {
  display: flex;
  max-width: 100%;
  overflow: auto;
  gap: 10px;
  margin-bottom: 1em;
  padding-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.hour {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.096);
  padding: 3px 4px;
}

.hourly-info {
  display: flex;
  white-space: nowrap;
}

#clear-night {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  color: rgba(255, 255, 255, 0.829);
}

#clear-day {
  background-image: linear-gradient(
    109.6deg,
    rgba(247, 202, 201, 1) 20.6%,
    rgba(146, 168, 209, 1) 85.9%
  );
}

#cloudy {
  background-image: linear-gradient(
    180.3deg,
    rgba(221, 221, 221, 1) 5.5%,
    rgba(110, 136, 161, 1) 90.2%
  );
}

#rainy {
  background-image: linear-gradient(
    178.6deg,
    rgba(20, 36, 50, 1) 11.8%,
    rgba(124, 143, 161, 1) 83.8%
  );
  color: rgba(255, 255, 255, 0.829);
}

.current {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  place-items: center;
}

#name {
  padding: 10px;
  font-size: 24px;
}

#big-temp {
  font-size: 48px;
  margin-bottom: 0;
}

.description::first-letter {
  text-transform: capitalize;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.hour .info {
  font-size: 12px;
  font-weight: 700;
}

.icon {
  width: 80px;
  height: 80px;
}

.misc-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 640px) {
  .forecast {
    flex-direction: column;
  }
  .day-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .extra {
    display: none;
  }
  .daily-temp {
    justify-self: center;
    text-align: center;
  }

  .weather-icon {
    justify-self: center;
  }

  .info {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 640px) {
  .weather-icon {
    height: 70px;
  }
}
