.day {
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
}

.weather-icon {
  height: 30px;
  width: 30px;
}

.img-md {
  height: 70px;
}

.img-xl {
  width: 80px;
  height: 80px;
  padding: 10px 0;
}

.img-sm {
  height: 30px;
  width: 30px;
  padding: 10px;
  margin-top: auto;
}

.hourly-forecast::-webkit-scrollbar {
  height: 5px;
}

.hourly-forecast::-webkit-scrollbar-track {
  background-color: transparent;
}

.hourly-forecast::-webkit-scrollbar-thumb {
  background-color: transparent; /* rgba(255, 255, 255, 0.123); */
  border-radius: 2px;
}

.day,
.day-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.day-forecast {
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  padding-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.forecast {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  position: relative;
  gap: 10px;
}

.hourly-container {
  max-width: 100%;
  width: fit-content;
  justify-content: center;
}

.hourly-forecast {
  display: flex;
  max-width: 100%;
  overflow: auto;
  gap: 10px;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  border-top: 1px solid rgba(255, 255, 255, 0.096);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}

.hourly-forecast span:not(.precib) {
  padding: 10px 0;
}

.hour {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  height: 142px;
  justify-content: space-between;
}

.hourly-info {
  display: flex;
  white-space: nowrap;
}

img {
  /* filter: drop-shadow(rgb(39, 39, 39) 1px 1px 1px); */
}

#n000, #n100 {
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
  color: rgba(255, 255, 255, 0.829);
}

#n300, #n400, #n420, #n410 {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#n310 {
  background: linear-gradient(to right, #1f1c2c, #928dab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#n200 {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(209, 209, 209);
  text-shadow: 1px 1px 1px rgb(36, 36, 36);
}

#n600 {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(209, 209, 209);
}

#d000, #d100 {
  background: linear-gradient(to top, #363795, #005C97);
}

#d200, #d210, #d320 {
  background: linear-gradient(to top, #2c3e50, #3498db);
  color: rgb(209, 209, 209);
}

#d410 {
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#d400, #d300 {
  background-image: linear-gradient(
    180.3deg,
    rgba(221, 221, 221, 1) 5.5%,
    rgba(110, 136, 161, 1) 90.2%
  );
  color: rgb(37, 37, 37);
  text-shadow: none;
  --main-color: rgb(37, 37, 37);
}

.st0 {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill: currentColor;
}

#showers-night {
  background-image: linear-gradient(
    178.6deg,
    rgba(20, 36, 50, 1) 11.8%,
    rgba(124, 143, 161, 1) 83.8%
  );
  color: rgba(255, 255, 255, 0.829);
}

.current {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.current > *:not(:first-child) {
  padding: 10px 0;
}

#big-temp {
  font-size: 64px;
  margin-bottom: 0;
  font-weight: 400;
  padding: 10px 0;
  line-height: 55px;
}

#name {
  padding: 0 0 10px 0;
  font-size: 24px;
}

#country-name {
  font-size: 8px;
  opacity: 0.4;
}

#description::first-letter {
  text-transform: capitalize;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#celc {
  font-size: 35px;
  margin-top: -20px;
  margin-left: 2px;
}

.precib {
  font-size: 12px;
}

.precib svg {
  margin-left: -10px;
}

.icon {
  width: 80px;
  height: 80px;
}

.misc-icon {
  width: 30px;
  height: 30px;
}

.current-more-info {
 /*  margin: 15px 0 10px 0; */
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.date-info {
  align-items: center;
}

.meta {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin: 10px 0; */
  align-items: center;
}

.meta img {
  padding: 0 20px;
}

.meta span {
  font-size: 10px;
  padding: 0 20px;
  opacity: 0.7;
}

.meta a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 40px;
  padding: 0 20px;
}

.date {
  text-transform: capitalize;
}

#more {
  padding: 15px 0;
}

#more a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 640px) {
  .forecast {
    flex-direction: column;
  }
  .day-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .extra {
    display: none;
  }
  .daily-temp {
    justify-self: center;
    text-align: center;
  }

  .weather-icon {
    justify-self: center;
  }

  .info {
    margin-bottom: 0;
  }

  .small {
    font-size: 12px;
  }
}

@media screen and (min-width: 640px) {
  .weather-icon {
    height: 70px;
    width: 70px;
  }

  .day-forecast > * {
    padding: 15px 0;
  }
  
}
