.hourly-forecast::-webkit-scrollbar {
  height: 5px;
}

.hourly-forecast::-webkit-scrollbar-track {
  background-color: transparent;
}

.hourly-forecast::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
}

.hourly-container {
  max-width: 100%;
  width: fit-content;
  justify-content: center;
  /* overflow: hidden; */
}

.hourly-forecast {
  display: flex;
  max-width: 100%;
  overflow: auto;
  /* gap: 15px; */
  /* margin-bottom: 0.5em; */
  margin-left: 10px;
  margin-right: 10px;
  /* font-weight: 400; */
  border-top: 1px solid rgba(255, 255, 255, 0.096);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}

.hourly-forecast span:not(.precib) {
  padding: 10px 0;
}

.hourly-forecast >*:not(:last-child) {
  margin-right: 15px;
}

.hour {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  height: 145px;
}

.hourly-info {
  display: flex;
  white-space: nowrap;
  font-weight: 500;
}

.precib {
  font-size: 12px;
}

.precib svg {
  margin-left: -10px;
}

.img-sm {
  height: 30px;
  width: 30px;
  padding: 5px;
  margin-top: auto;
}
