.forecast {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-size: 14px;
}

.day-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  padding: 10px 0;
  margin-right: 10px;
  margin-left: 10px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.extra {
  white-space: nowrap;
}

.weather-icon {
  height: 30px;
  width: 30px;
}

.date-info {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.date {
  text-transform: capitalize;
}

.daily-temp {
  font-weight: 500;
}

.extra svg {
  height: 2em;
  width: 2em;
}

@media screen and (max-width: 640px) {
  .small {
    font-size: 14px;
  }

  .day-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 16px 0;
  }

  .daily-temp {
    justify-self: center;
    text-align: center;
    white-space: nowrap;
  }

  .weather-icon {
    justify-self: center;
  }

  .extra svg {
    height: 1.5em;
    width: 1.5em;
  }

  .extra:not(.precipRate, .windSpeed) {
    display: none;
  }

  .precipRate, .windSpeed {
    display: grid;
    place-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 640px) {
  .forecast {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }

  .weather-icon {
    height: 70px;
    width: 70px;
  }

  .day-forecast > * {
    padding: 15px 0;
  }
}
