.forecast {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  position: relative;
  gap: 10px;
  /* background-color: rgba(255, 255, 255, 0.041); */
  text-align: center;
}

.day-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* font-weight: 400; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  padding: 10px 0 10px 0;
  margin-right: 10px;
  margin-left: 10px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* font-weight: 500; */
}

.extra {
  white-space: nowrap;
}

.weather-icon {
  height: 30px;
  width: 30px;
}

.date-info {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.date {
  text-transform: capitalize;
}

@media screen and (max-width: 640px) {
  .small {
    font-size: 14px;
  }
  .forecast {
    flex-direction: column;
    /* font-size: 14px; */
  }
  .day-forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .daily-temp {
    justify-self: center;
    text-align: center;
    white-space: nowrap;
  }
  .weather-icon {
    justify-self: center;
  }
  .extra:not(.precipRate) {
    display: none;
  }

  .precipRate {
    /* font-size: 14px; */
    /* justify-content: initial; */
    /* align-items: initial; */
    display: grid;
   /*  grid-template-columns: 25% 75%; */
    place-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 640px) {
  .weather-icon {
    height: 70px;
    width: 70px;
  }

  .day-forecast > * {
    padding: 15px 0;
  }
}
