.App {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(224, 224, 224);
  text-shadow: 1px 1px 1px rgb(36, 36, 36);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

form {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  width: 200px;
}

input {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.212);
  height: 25px;
  padding: 3px 10px 3px 15px;
  color: var(--main-color);
}

input::placeholder {
  color: inherit;
  opacity: .5;
}

input:focus {
  outline: none;
  border: 1px solid ;
}

button {
  position: absolute;
  background-color: transparent;
  border: none;
  color: rgb(167, 167, 167);
  font-size: 20px;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
