.App {
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(224, 224, 224);
  background: linear-gradient(to right, #141e30, #243b55);
}

.day {
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: currentColor;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  filter: drop-shadow(0 0 2px #141e30);
}

#more {
  padding: 15px 0;
}

#more a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (min-width: 640px) {
  .App {
    padding: 0 18%;
  }
}
