.App {
  position: relative;
  /* text-align: center; */
  color: rgb(224, 224, 224);
  overflow: hidden;
  /* background: linear-gradient(to bottom, #0f1c2f, #1281b3); */
  background-color: #1E232E;
}

#topbar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

#menu {
  border: none;
  color: rgb(167, 167, 167);
  font-size: 32px;
  grid-column: 3/4;
  justify-self: end;
  display: flex;
  padding: 5px 10px;
}

#settings {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 15px;
  position: absolute;
  right: 0;
  height: 100vh;
  background-color: #171A21;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.664);
  z-index: 3;
  color: #b8b6b4;
  transition: right 0.3s ease-out;
}

.hidden {
  right: -100% !important;
}

#savedList {
  list-style: none;
  text-align: left;
  padding: 0;
  font-size: 24px;
  margin: 10px 0;
}

#savedList li {
  /* padding: 0 10px 5px 10px; */
  /* border-radius: 10px; */
  height: 40px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease-in;
}

#savedList li:hover {
  /* background-color: rgba(0, 0, 0, 0.158); */
  cursor: pointer;
  border-bottom: 2px solid #eeebe8;
  color: #eeebe8;
}

.city {
  display: flex;
  align-items: center;
}

.star {
  padding: 5px;
  cursor: pointer;
  color: rgba(224, 224, 224, 0.473);
  margin-left: auto;
}

.gold {
  color: #fcf06b;
}

.gold path {
  fill: #fcf06b;
}

.star path:hover {
  fill: rgb(224, 224, 224);
}

[hidden]{
  display: none !important;
}

.day {
  margin: 0 auto;
  border-radius: 20px;
  position: relative;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: currentColor;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  filter: drop-shadow(0 0 1px #0c0c0ca4);
}

#more {
  padding: 15px 0;
}

#more a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 640px) {
  .App {
    padding: 0 18%;
  }
}
