#weather-effect {
  position: absolute;
  width: 100%;
  height: 475px;
  overflow: hidden;
}

/* #clouds-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: animateCloud 40s linear infinite;
  background-image: url('../../img/weather/cloud4.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -250px;
  opacity: 0.8;
} */

#clouds-effect1 {
  position: absolute;
  width: 800px;
  height: 300px;
  margin: 0 auto;
  transform: rotate(180deg) translate(100%, 130px);
  animation: 80s linear infinite animateCloud2;
  background-image: url('../../img/weather/cloud4.webp');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
}

#clouds-effect2 {
  position: absolute;
  width: 800px;
  height: 300px;
  transform: /* rotate(180deg) */ translate(-100%, -130px);
  animation: 80s linear 30s infinite animateCloud3;
  background-image: url('../../img/weather/cloud.webp');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
}

#clouds-sky {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../img/weather/cloudysky.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center -50px;
  opacity: 0.1;
}

#moon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url('../../img/weather/moon.webp');
  background-size: 100px;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

#sun {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50px;
  background-image: url('../../img/weather/sun.webp');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: 0;
  animation: animateSun 20s linear infinite;
}

@keyframes animateCloud {
  0% {
    background-position-x: -200px;
  }
  50% {
    background-position-x: 200px;
  }
  100% {
    background-position-x: -200px;
  }
}

@keyframes animateSun {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animateCloud2 {
  from {
    transform: rotate(180deg) translate(100%, 130px);
  }
  to {
    transform: rotate(180deg) translate(-100%, 130px);
  }
  /* 100% {
    transform: translate(-100px, -100px);
  } */
}

@keyframes animateCloud3 {
  from {
    transform: /* rotate(180deg)  */translate(-100%, -130px);
  }
  to {
    transform: /* rotate(180deg)  */translate(100%, -130px);
  }
  /* 100% {
    transform: rotate(180deg) translate(100px, 130px);
  } */
}